.video-wrap {
  /*Ajuste a largura e altura desejadas aqui*/
  width: 100%;

  /*isto fará o elemento video e o .container se adaptarem ao .wrap*/
  position: relative;
}

.video-wrap > .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /*apenas um -1 é necessário quando se trabalha com relative + absolute, sendo pai e filho*/
  width: 100%;
  height: 100%;
  overflow: hidden; /* evita do video passar a altura desejada do .wrap */
}
.video-wrap > .bg-video > video {
  width: 100%;
}